@()(implicit request: MessagesRequestHeader)
import helper._

@main(Messages("Login"), "Login page") {
  @*  @helper.form(action = routes.HomeController.insert()) {
        @helper.CSRF.formField
        @helper.inputText(personForm("username"))
        @helper.inputText(personForm("email"))
        <div class="ui-button">
            <button type="submit">Save</button>
        </div>
    }*@

    <form action="@routes.PersonController.insert()" method="post">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            @helper.CSRF.formField
            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            @helper.CSRF.formField
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
}