@()(implicit request: MessagesRequestHeader)

@main(Messages("Login")) {
    <h2>Login page</h2>
  @*  @helper.form(action = routes.HomeController.insert()) {
        @helper.CSRF.formField
        @helper.inputText(personForm("username"))
        @helper.inputText(personForm("email"))
        <div class="ui-button">
            <button type="submit">Save</button>
        </div>
    }*@
    <form action="@routes.HomeController.insert()" method="post">
        Username: <input name="username" type="text" /><br/><br/>
        email: <input name="email" type="text" /><br/><br/>
        <button type="submit">Save</button>
    </form>
}