@(persons: Seq[models.Person])

@main("This is task1") {
    <h1>This is Task</h1>
    <ul>
        @for( person <- persons) {
            <li>
                <a href="@routes.HomeController.delete(person.id)">@person.id</a>
            </li>
            <li>
                @person.username
            </li>
            <li>
                @person.email
            </li>
            <br/>
        }
    </ul>

    <div class="pagination">
        <a id="prev" href="@routes.HomeController.persons()" onclick=ptr("prev") >&laquo;</a>
        @for(i <- 0 to 10 ) {
            <a href="@routes.HomeController.persons()?limit=2&offset=@{i}">@{i}</a>
        }
        <a id="next" href="@routes.HomeController.persons()" onclick=ptr("next") >&raquo;</a>
    </div>
}
